src/.libs/
src/filter-fcgi.lo
src/*.lo
src/*.la
src/*.o
Makefile
autom4te.cache/
config.log
config.status
libtool
src/.deps
src/Makefile
src/config.h
src/filterd
src/stamp-h1
test/Makefile
src/config.h.in~
